:root {
    --generator-font-color: #36454F;
    --generator-backgr-color: #FBFBFB;
    --generator-border-color: #A0A0A0;
    --submit-btn-backgr-color: #00A676;
    --preview-backgr-color: #eaeaea;




}




* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: minmax(490px , 45%) 1fr;
    
}

.generator {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 2.0rem 5.0rem;
    background-color: var(--generator-backgr-color);
    
}




.form-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    
}

/*will-change*/


.field {
    position: relative;
    display: flex;
     
}

.checkbox-field {
    gap: 1rem;
}

.text-input {
    flex-grow: 1;
    padding: 12px;
    border: 2px solid var(--generator-border-color);
    border-radius: 5px;
    background-color: var(--generator-backgr-color);
}



textarea {
    height: 200px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
    
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: var(--generator-font-color);
}

.field-label {
    position: absolute;
    transform: translate(1rem , -50%);
    background-color: var(--generator-backgr-color);
    padding: 2px 5px;
    
    
    

}

.form-header {
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border: 2px solid var(--submit-btn-backgr-color);
    color: var(--submit-btn-backgr-color);
    border-radius: 5px;
    background-color: var(--generator-backgr-color);
}

button:hover {
    color: var(--generator-backgr-color);
    background-color: var(--submit-btn-backgr-color);
    cursor: pointer;
}

